.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  text-align: left;
  
}

.categories-container {
  display: flex;
  gap: 10px;
}


.table th {
  font-family: "Arial Narrow";
  color: rgb(255, 255, 255);
}


td img {
  height: 10vh;
  width: auto;
}
.inv-table {
  
  flex-direction: column;
  overflow: auto;
  color: rgb(255, 255, 255);
}

p{color: #000000;

}

h2{
  color: black;
}
a{color: rgb(0, 0, 255);}


@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}