.App {
  text-align: left;
  background-color: #9018b4;
}

.categories-container {
  display: flex;
  gap: 10px;
}

.App-header {
  background-color: #9018b4;
}

.table th {
  font-family: "Arial Narrow";
  background-color: #ffd700;
  color: black;
}

td img {
  height: 10vh;
  width: auto;
}
.inv-table {
  
  min-height: 100vh;
  display: table-header-group;
  flex-direction: column;
  overflow: auto;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

p{color: #000000;

}

h2{
  color: black;
}
a{color: rgb(0, 0, 255);}

.home {
  background-color: #23be04;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
